<mat-toolbar color="primary">
    <span class="circle-initial">CP</span>
    <span class="app-title">Dog breed classifier</span>
</mat-toolbar>

<div class="main-content">
    <mat-card class="main-card">
        <div class="center">
            <!-- <input *ngIf="!imageSrc; else predict" id="fileUpload" type="file" class="hidden-input" (change)="onChange($event)" #fileInput/> -->
            <input type="file" id="input-file" name="file" style="display: none" (change)="onChange($event)" #fileInput>
            <!-- <input type="file" id="input-file" name="file" style="display: none" #fileInput> -->
            <button *ngIf="!imageSrc; else predict" mat-raised-button color="primary" (click)="fileInput.click()">
                Choose file </button>

            <ng-template #predict>
                <img [src]="imageSrc" class="predict-photo">
                <button mat-raised-button color="primary" class="predict-button" (click)="predict()"> Predict
                    breed</button>
            </ng-template>
        </div>

    </mat-card>
</div>

<footer>
        <mat-toolbar>
          <div class="footer-content">
            Udacity ML Nanodegree Capstone Project (CP) - built with ♥
          </div>
        </mat-toolbar>
      </footer>
      

<router-outlet></router-outlet>