.mat-card {
    
    height: 66%;
    width: 50%;
    text-align: center;
}

.main-content {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.hidden-input {
    display:none;
}

.predict-photo {
    width: 100%;
}

.predict-button {
    margin-top: 0.5cm
}

.app-title {
    margin: auto;
}

.circle-initial {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #000
  }

  footer{
    position:fixed;
    bottom:0px;
    background-color: #f5f5f5;
    width:100%;
    text-align: center;
    }

.footer-content {
    font-size: x-small;
    margin: auto;
}

